.col {
  float: left;
}
.col.right {
  margin-left: 10px;
}
.border {
  border: 1px solid black;
}
.border_big {
  border: 2px solid black;
}
.border_dashed {
  border: 1px dashed black;
}
.own-message_container {
  margin-top: 10px;
  max-width: 300px;
}
.own-message_container .copy-content {
  top: 0;
  right: 0;
  float: right;
  background: green;
}
.all-message_container .copy-content {
  top: 0;
  right: 0;
  float: right;
  background: green;
}
.bold {
  font-weight: bold;
}
@media (max-width: 490px) {
  .col {
    float: none;
  }
  .col.right {
    margin-left: 0px;
  }
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.none {
  float: none;
}
.wrapper {
  overflow: hidden;
}
.hidden {
  display: none;
}
.move_able {
  border: 1px solid blue;
}
.view_highlight {
  color: red;
}
.one_time {
  border: 1px solid blue;
}
.underline {
  text-decoration: underline;
}
.bright_10 {
  opacity: 0.1;
}
.bright_25 {
  opacity: 0.25;
}
.bright_50 {
  opacity: 0.5;
}
.bright_50::after {
  content: "2";
  vertical-align: -4px;
  font-size: 80%;
  color: blue;
}
.bright_75 {
  opacity: 0.75;
}
.bright_75::after {
  content: "3";
  vertical-align: -4px;
  font-size: 80%;
  color: blue;
}
