<div class="left col">
  <p><h1>all products</h1></p>
  {% include 'RestCrud/' ~ templateContext ~ '/' ~ templateContext ~ '_rendered_products.twig' %}
</div>
<div class="right col">
  <p><h1>another part</h1></p>
</div>