<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/public/js/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="/public/css/finance/main.css">
    <script data-main="/public/js/main" src="/public/js/lib/require.js"></script>
    {% block customJavascript %}
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="contentWrapper">
        {% include 'Finance/' ~ templateContext ~ '/' ~ templateContext ~ '_rendered.twig' %}
    </div>
{% endblock %}
</body>
</html>