{#parent is from Blog/login/login_rendered.twig#}

<form action="index.php/blog/login" method="POST">
  <label for="">bitte loggen sie sich ein</label><br>
  <label for="email">email:</label><br>
  <input type="text" name="email" value="tomcat@mad.de"\><br>
  <label for="password">password:</label><br>
  <input type="password" name="password" value="anypass"\>
  {#<input type="hidden" name="method" value="PUT">#}
  <input type="submit" value="login">
</form>