<p></p>
<form action="index.php/message/create" method="POST" name="message_create">
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  {#<input type="text" name="message">#}
  <input type="submit" value="create message">
</form>