{#parent is from Blog/show/show_rendered.twig#}

<p></p>
<table>
  <tr>
    {% for identifier, value in messagesOwn[0] %}
      <th>{{ identifier }}</th>
    {% endfor %}
  </tr>
  {% for message in messagesOwn %}
    <tr>
      {% for identifier, value in message %}
        <td>{{ value }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>