{#parent is from Blog/show/show_rendered.twig#}

<table>
  <tr>
  {% for identifier, value in users[0] %}
  <th>{{ identifier }}</th>
  {% endfor %}
  </tr>
{% for user in users %}
  <tr>
  {% for identifier, value in user %}
    <td>{{ value }}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>